h1{
color: white;
text-align: center;
font-size: 50px;
padding-bottom: 20px;
}

#total{
  background-image: url('background.jpg');
}

#loginbox{

  padding-top: 50px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: lightgreen;
}

#loginpage{
  padding-left: 80px;
  width: 40%;
}

#button{
  width: 80px;
  margin-top: 20%;
  margin-left: 80%;
}

#signuplink{
  margin-left: 36.5%;
  margin-right: 30%;
  font-size: 14px;
  cursor: pointer;
}

#textfield1{
  width: 50%;
  float: left;
}

#textfield2{
  width: 50%;
  float: right;
}

#textfield22{
  margin-left: 180px;
}
